body{
  margin:0px;
}
h1{
  width:270px;
  text-align:center;
  color:rgb(245, 125, 29);
}
#tag{
  text-align:center;
  font-size:10px;
  color:grey;
  width:270px;
}
ul{
  margin-top:80px;
  padding:0px;
  list-style-type:none;
}
#news p{
 margin:50px 50px 50px 80px;
 font-family: "Fira Sans Condensed";
 text-align:left;
 }
a{
 text-decoration:none;
 color: rgb(99, 109, 118);
 }
#headline{
   color:grey;
   margin:29px 150px 0px 100px;
   padding:0px 0px 0px 0px;
   width:250px;
   text-align:center;
   border-top:1px solid grey;
 }
#grid li{
  list-style-type:none;
}
.grid{
  display:grid;
  grid-template-columns:250px 1fr;
  font-family: "Fira Sans Condensed";
}
#grid{
  display:grid;
  grid-template-columns:150px 150px 150px;
  padding-top:10px;
  margin-left:500px;
  text-decoration:none;
  color: rgb(99, 109, 118);
}
#grid a{
  border-right:2px solid grey;
  padding-right:50px;
  color:grey;
  font-weight: bold;
  font-size: 12px;
  text-decoration:none;
  color: rgb(99, 109, 118);
}
img{
  margin:30px;
}
.grid2{
  display:grid;
  grid-template-columns:700px 1fr;
}
#news{
  diplay:grid;
  grid-template-columns:auto;
}
@media(max-width:700px){
.grid2{
    display:block
}
.grid{
  display:block;
}
#grid{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  padding-top:10px;
  margin-left:80px;
}}
/* 1html CSS */
#youtube{
  display:grid;
  grid-template-columns: 100px 1fr;
}
#youlist{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#youlayout{
  margin:5px;
}
i{
  font-size:50px;
  margin:50px 50px 50px 10px;
  padding-top:21px;
}
#instagram{
  display:grid;
  grid-template-columns: 100px 1fr;
}
#instagramlists{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#instagram .fab{
    font-size:70px;
    margin-right:10px;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
